{% extends "layout.html" %}

{% block content %}
<div class="skill-row">
    <img class="website" src="static/woman.png" alt="woman">
    <h3 class="h3">WHY THIS IS REQUIRED?</h3>
    <p>Sign language is the only essential communicating tool, for deaf and dumb people. 
        To ensure an Independent life for hearing impaired and mute people, the automatic interpretation of sign language is an extensive era of research. 
        Using sign languages, deaf and dumb people can communicate among themselves but they find it tough to face the outside world. 
        In emergency time conveying their message to normal people becomes difficult.
    </p>
    <br>
  
    <img class="dish-image" src="static/man.png" alt="man">
    <h3 class="h3">HOW DOES IT WORK!</h3>
    <p>This project is build to benefit impaired people.
        We providing two modules sign to text and text to sign.
        sign to text converter is being used by dumb people and text to sign converter is used by deaf people.
        To use these functionalities user must login to this application.
    </p>
    <br>

     <h2>Get In Touch</h2>
       
    </div>

    <div class="contact-me">
        <table>
            <tr>
                <th>Amruta Badi</th>
                <th>Shivani Joshi</th>
                <th>Renu Velhal</th>
                <th>Poonam Chougule</th>
                <th>Sunil Kumbhar</th>
            </tr>	
            <tr>
                <td>
                    <p>Computer Science and</p>
                    <p>Engineering</p>
                    <p>D. Y. Patil College of</p>
                    <p>Engineering and Technology</p>
                    <p>Kolhapur, India</p>
                    <a class="btn-index" href="mailto:badiamruta90@gmail.com">CONTACT ME</a>
                </td>
                <td>				
                    <p>Computer Science and</p>
                    <p>Engineering</p>
                    <p>D. Y. Patil College of</p>
                    <p>Engineering and Technology</p>
                    <p>Kolhapur, India</p>	
                    <a class="btn-index" href="mailto:214shivani.joshi@gmail.com">CONTACT ME</a>			
                    <p></p>
                </td>		
                <td>				
                    <p>Computer Science and</p>
                    <p>Engineering</p>
                    <p>D. Y. Patil College of</p>
                    <p>Engineering and Technology</p>
                    <p>Kolhapur, India</p>
                    <a class="btn-index" href="mailto:renuvelhal@gmail.com">CONTACT ME</a>
                    <p></p>
                </td>
                <td>					
                    <p>Computer Science and</p>
                    <p>Engineering</p>
                    <p>D. Y. Patil College of</p>
                    <p>Engineering and Technology</p>
                    <p>Kolhapur, India</p>
                    <a class="btn-index" href="mailto:pnchougule18@gmail.com">CONTACT ME</a>
                    <p></p>
                </td>
    
                <td>				
                    <p>Computer Science and</p>
                    <p>Engineering</p>
                    <p>D. Y. Patil College of</p>
                    <p>Engineering and Technology</p>
                    <p>Kolhapur, India</p>
                    <a class="btn-index" href="mailto:sunilkumbhar05@gmail.com">CONTACT ME</a>
                </td>
            </tr>
    
            </tr>
                
            </tr>
    
        </table>
    

    </div>

  
  
  
{% endblock content %}
        